.section_position{
    margin: 175px 0px 0px 235px ;
    display: flex;
    flex-wrap: wrap

}
.section_img img{
    
    max-width: 528px;
    max-height: 528px;
}

.main-section{
    
    margin: 145px auto 0px 81px
}

.section_text-heading{
    margin-bottom: 44px;
}

.section_heading{
    color: rgba(255, 255, 255, 0.499);
    font-size: 24px;
}

.text_heading-basic{
    font-size: 70px;
    color: white;
    font-weight: 600;
}

.text{
    max-width: 803px;
    display: flex;
    line-height: 30px;
    margin: 44px auto;
}
.home_text{
    color: white;
    font-weight: 300;
    font-size: 20px;
    
}

.botton-media{
    
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;

}

.botton-media button{
    height: 62px;
    padding: 13px 46px;
    color: white;
    background-color: #333333;
    border-radius: 28.96px;
}
.btn-kontakt{
    margin-left: 15px;
    border: 3px solid #FFFFFF;
    
}
.btn-portfolio{
    border: 3px solid #007CED;
}


@media (max-width: 1800px ) {

    .section_position{
        margin-top: 5%;
        margin-left: auto;
        margin-bottom: 50px;
        flex-wrap: wrap;
    }
    .main-section{
        
        flex-wrap: wrap;
    }

    @media (max-width: 800px ){
        .main-section{
            margin-left: 15px;
            width: auto;

        }
        .section_img{
            margin-top: 30px;
        }
       
    .text p {
        hyphens: manual;
        
    } 

    
}
}